.externalfunctionlistfield-background #unity-content {
    background-color: var(--unity-colors-highlight-background-inactive);
}

.externalfunctionlistfield-root {
    padding-bottom: 10px;
}

.externalfunctionlistfield-buttons {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    background-color: var(--unity-colors-button-background);
}

.externalfunctionlistfield-buttons Button {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
    -unity-font-style: bold;
    font-size: 16px;
}

.externalfunctionlistfield-buttons Button:hover {
    background-color: var(--unity-colors-button-background-hover);
}

.externalfunctionlistfield-buttons Button:active {
    background-color: var(--unity-colors-button-background-pressed);
}
